


<!DOCTYPE html>
<html lang="en" class="">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    
    
    <title>mysql/my.cnf.erb at master · chef-cookbooks/mysql · GitHub</title>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
    <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">
    <meta property="fb:app_id" content="1401488693436528">

      <meta content="@github" name="twitter:site" /><meta content="summary" name="twitter:card" /><meta content="chef-cookbooks/mysql" name="twitter:title" /><meta content="Development repository for Chef Software mysql cookbook" name="twitter:description" /><meta content="https://avatars2.githubusercontent.com/u/3617830?v=3&amp;s=400" name="twitter:image:src" />
      <meta content="GitHub" property="og:site_name" /><meta content="object" property="og:type" /><meta content="https://avatars2.githubusercontent.com/u/3617830?v=3&amp;s=400" property="og:image" /><meta content="chef-cookbooks/mysql" property="og:title" /><meta content="https://github.com/chef-cookbooks/mysql" property="og:url" /><meta content="Development repository for Chef Software mysql cookbook" property="og:description" />
      <meta name="browser-stats-url" content="/_stats">
    <link rel="assets" href="https://assets-cdn.github.com/">
    
    <meta name="pjax-timeout" content="1000">
    

    <meta name="msapplication-TileImage" content="/windows-tile.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="selected-link" value="repo_source" data-pjax-transient>
      <meta name="google-analytics" content="UA-3769691-2">

    <meta content="collector.githubapp.com" name="octolytics-host" /><meta content="collector-cdn.github.com" name="octolytics-script-host" /><meta content="github" name="octolytics-app-id" /><meta content="44EEE93E:79E9:939D25:551A3442" name="octolytics-dimension-request_id" />
    
    <meta content="Rails, view, blob#show" name="analytics-event" />
    <meta class="js-ga-set" name="dimension1" content="Logged Out">
    <meta class="js-ga-set" name="dimension2" content="Header v3">

    
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">


    <meta content="authenticity_token" name="csrf-param" />
<meta content="xGCld6rA90mdWL6FMGrdY5jLajy1flV6gK0aPa6x8Rg3k1bLNJUrTUpd4u29Go61oUWfluEy0E4iWETP6hnRyA==" name="csrf-token" />

    <link href="https://assets-cdn.github.com/assets/github-391b32dc1132ef0837cee6b206cad9c2726c7f495e5047901a7afa551e81d695.css" media="all" rel="stylesheet" />
    <link href="https://assets-cdn.github.com/assets/github2-14b629a12b237ffde72fb70f31de6a515754f0f686189a072cc00e54ee202fd1.css" media="all" rel="stylesheet" />
    
    


    <meta http-equiv="x-pjax-version" content="0cdf73d6f5d84ba34af332a36c975c0a">

      
  <meta name="description" content="Development repository for Chef Software mysql cookbook">
  <meta name="go-import" content="github.com/chef-cookbooks/mysql git https://github.com/chef-cookbooks/mysql.git">

  <meta content="3617830" name="octolytics-dimension-user_id" /><meta content="chef-cookbooks" name="octolytics-dimension-user_login" /><meta content="3720862" name="octolytics-dimension-repository_id" /><meta content="chef-cookbooks/mysql" name="octolytics-dimension-repository_nwo" /><meta content="true" name="octolytics-dimension-repository_public" /><meta content="false" name="octolytics-dimension-repository_is_fork" /><meta content="3720862" name="octolytics-dimension-repository_network_root_id" /><meta content="chef-cookbooks/mysql" name="octolytics-dimension-repository_network_root_nwo" />
  <link href="https://github.com/chef-cookbooks/mysql/commits/master.atom" rel="alternate" title="Recent Commits to mysql:master" type="application/atom+xml">

  </head>


  <body class="logged_out  env-production  vis-public page-blob">
    <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
    <div class="wrapper">
      
      
      


        
        <div class="header header-logged-out" role="banner">
  <div class="container clearfix">

    <a class="header-logo-wordmark" href="https://github.com/" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
      <span class="mega-octicon octicon-logo-github"></span>
    </a>

    <div class="header-actions" role="navigation">
        <a class="btn btn-primary" href="/join" data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">Sign up</a>
      <a class="btn" href="/login?return_to=%2Fchef-cookbooks%2Fmysql%2Fblob%2Fmaster%2Ftemplates%2Fdefault%2Fmy.cnf.erb" data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">Sign in</a>
    </div>

    <div class="site-search repo-scope js-site-search" role="search">
      <form accept-charset="UTF-8" action="/chef-cookbooks/mysql/search" class="js-site-search-form" data-global-search-url="/search" data-repo-search-url="/chef-cookbooks/mysql/search" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <input type="text"
    class="js-site-search-field is-clearable"
    data-hotkey="s"
    name="q"
    placeholder="Search"
    data-global-scope-placeholder="Search GitHub"
    data-repo-scope-placeholder="Search"
    tabindex="1"
    autocapitalize="off">
  <div class="scope-badge">This repository</div>
</form>
    </div>

      <ul class="header-nav left" role="navigation">
          <li class="header-nav-item">
            <a class="header-nav-link" href="/explore" data-ga-click="(Logged out) Header, go to explore, text:explore">Explore</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="/features" data-ga-click="(Logged out) Header, go to features, text:features">Features</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="https://enterprise.github.com/" data-ga-click="(Logged out) Header, go to enterprise, text:enterprise">Enterprise</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="/blog" data-ga-click="(Logged out) Header, go to blog, text:blog">Blog</a>
          </li>
      </ul>

  </div>
</div>



      <div id="start-of-content" class="accessibility-aid"></div>
          <div class="site" itemscope itemtype="http://schema.org/WebPage">
    <div id="js-flash-container">
      
    </div>
    <div class="pagehead repohead instapaper_ignore readability-menu">
      <div class="container">
        
<ul class="pagehead-actions">

  <li>
      <a href="/login?return_to=%2Fchef-cookbooks%2Fmysql"
    class="btn btn-sm btn-with-count tooltipped tooltipped-n"
    aria-label="You must be signed in to watch a repository" rel="nofollow">
    <span class="octicon octicon-eye"></span>
    Watch
  </a>
  <a class="social-count" href="/chef-cookbooks/mysql/watchers">
    92
  </a>

  </li>

  <li>
      <a href="/login?return_to=%2Fchef-cookbooks%2Fmysql"
    class="btn btn-sm btn-with-count tooltipped tooltipped-n"
    aria-label="You must be signed in to star a repository" rel="nofollow">
    <span class="octicon octicon-star"></span>
    Star
  </a>

    <a class="social-count js-social-count" href="/chef-cookbooks/mysql/stargazers">
      235
    </a>

  </li>

    <li>
      <a href="/login?return_to=%2Fchef-cookbooks%2Fmysql"
        class="btn btn-sm btn-with-count tooltipped tooltipped-n"
        aria-label="You must be signed in to fork a repository" rel="nofollow">
        <span class="octicon octicon-repo-forked"></span>
        Fork
      </a>
      <a href="/chef-cookbooks/mysql/network" class="social-count">
        550
      </a>
    </li>
</ul>

        <h1 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="entry-title public">
          <span class="mega-octicon octicon-repo"></span>
          <span class="author"><a href="/chef-cookbooks" class="url fn" itemprop="url" rel="author"><span itemprop="title">chef-cookbooks</span></a></span><!--
       --><span class="path-divider">/</span><!--
       --><strong><a href="/chef-cookbooks/mysql" class="js-current-repository" data-pjax="#js-repo-pjax-container">mysql</a></strong>

          <span class="page-context-loader">
            <img alt="" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16" />
          </span>

        </h1>
      </div><!-- /.container -->
    </div><!-- /.repohead -->

    <div class="container">
      <div class="repository-with-sidebar repo-container new-discussion-timeline  ">
        <div class="repository-sidebar clearfix">
            
<nav class="sunken-menu repo-nav js-repo-nav js-sidenav-container-pjax js-octicon-loaders"
     role="navigation"
     data-pjax="#js-repo-pjax-container"
     data-issue-count-url="/chef-cookbooks/mysql/issues/counts">
  <ul class="sunken-menu-group">
    <li class="tooltipped tooltipped-w" aria-label="Code">
      <a href="/chef-cookbooks/mysql" aria-label="Code" class="selected js-selected-navigation-item sunken-menu-item" data-hotkey="g c" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches /chef-cookbooks/mysql">
        <span class="octicon octicon-code"></span> <span class="full-word">Code</span>
        <img alt="" class="mini-loader" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16" />
</a>    </li>

      <li class="tooltipped tooltipped-w" aria-label="Issues">
        <a href="/chef-cookbooks/mysql/issues" aria-label="Issues" class="js-selected-navigation-item sunken-menu-item" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /chef-cookbooks/mysql/issues">
          <span class="octicon octicon-issue-opened"></span> <span class="full-word">Issues</span>
          <span class="js-issue-replace-counter"></span>
          <img alt="" class="mini-loader" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16" />
</a>      </li>

    <li class="tooltipped tooltipped-w" aria-label="Pull requests">
      <a href="/chef-cookbooks/mysql/pulls" aria-label="Pull requests" class="js-selected-navigation-item sunken-menu-item" data-hotkey="g p" data-selected-links="repo_pulls /chef-cookbooks/mysql/pulls">
          <span class="octicon octicon-git-pull-request"></span> <span class="full-word">Pull requests</span>
          <span class="js-pull-replace-counter"></span>
          <img alt="" class="mini-loader" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16" />
</a>    </li>

  </ul>
  <div class="sunken-menu-separator"></div>
  <ul class="sunken-menu-group">

    <li class="tooltipped tooltipped-w" aria-label="Pulse">
      <a href="/chef-cookbooks/mysql/pulse" aria-label="Pulse" class="js-selected-navigation-item sunken-menu-item" data-selected-links="pulse /chef-cookbooks/mysql/pulse">
        <span class="octicon octicon-pulse"></span> <span class="full-word">Pulse</span>
        <img alt="" class="mini-loader" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16" />
</a>    </li>

    <li class="tooltipped tooltipped-w" aria-label="Graphs">
      <a href="/chef-cookbooks/mysql/graphs" aria-label="Graphs" class="js-selected-navigation-item sunken-menu-item" data-selected-links="repo_graphs repo_contributors /chef-cookbooks/mysql/graphs">
        <span class="octicon octicon-graph"></span> <span class="full-word">Graphs</span>
        <img alt="" class="mini-loader" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16" />
</a>    </li>
  </ul>


</nav>

              <div class="only-with-full-nav">
                  
<div class="clone-url open"
  data-protocol-type="http"
  data-url="/users/set_protocol?protocol_selector=http&amp;protocol_type=clone">
  <h3><span class="text-emphasized">HTTPS</span> clone URL</h3>
  <div class="input-group js-zeroclipboard-container">
    <input type="text" class="input-mini input-monospace js-url-field js-zeroclipboard-target"
           value="https://github.com/chef-cookbooks/mysql.git" readonly="readonly">
    <span class="input-group-button">
      <button aria-label="Copy to clipboard" class="js-zeroclipboard btn btn-sm zeroclipboard-button" data-copied-hint="Copied!" type="button"><span class="octicon octicon-clippy"></span></button>
    </span>
  </div>
</div>

  
<div class="clone-url "
  data-protocol-type="subversion"
  data-url="/users/set_protocol?protocol_selector=subversion&amp;protocol_type=clone">
  <h3><span class="text-emphasized">Subversion</span> checkout URL</h3>
  <div class="input-group js-zeroclipboard-container">
    <input type="text" class="input-mini input-monospace js-url-field js-zeroclipboard-target"
           value="https://github.com/chef-cookbooks/mysql" readonly="readonly">
    <span class="input-group-button">
      <button aria-label="Copy to clipboard" class="js-zeroclipboard btn btn-sm zeroclipboard-button" data-copied-hint="Copied!" type="button"><span class="octicon octicon-clippy"></span></button>
    </span>
  </div>
</div>



<p class="clone-options">You can clone with
  <a href="#" class="js-clone-selector" data-protocol="http">HTTPS</a> or <a href="#" class="js-clone-selector" data-protocol="subversion">Subversion</a>.
  <a href="https://help.github.com/articles/which-remote-url-should-i-use" class="help tooltipped tooltipped-n" aria-label="Get help on which URL is right for you.">
    <span class="octicon octicon-question"></span>
  </a>
</p>



                <a href="/chef-cookbooks/mysql/archive/master.zip"
                   class="btn btn-sm sidebar-button"
                   aria-label="Download the contents of chef-cookbooks/mysql as a zip file"
                   title="Download the contents of chef-cookbooks/mysql as a zip file"
                   rel="nofollow">
                  <span class="octicon octicon-cloud-download"></span>
                  Download ZIP
                </a>
              </div>
        </div><!-- /.repository-sidebar -->

        <div id="js-repo-pjax-container" class="repository-content context-loader-container" data-pjax-container>
          

<a href="/chef-cookbooks/mysql/blob/4a061c43db1e2e043c71b95347fa053b07054c1f/templates/default/my.cnf.erb" class="hidden js-permalink-shortcut" data-hotkey="y">Permalink</a>

<!-- blob contrib key: blob_contributors:v21:92af6820e855c497d62ddadfadea3999 -->

<div class="file-navigation js-zeroclipboard-container">
  
<div class="select-menu js-menu-container js-select-menu left">
  <span class="btn btn-sm select-menu-button js-menu-target css-truncate" data-hotkey="w"
    data-master-branch="master"
    data-ref="master"
    title="master"
    role="button" aria-label="Switch branches or tags" tabindex="0" aria-haspopup="true">
    <span class="octicon octicon-git-branch"></span>
    <i>branch:</i>
    <span class="js-select-button css-truncate-target">master</span>
  </span>

  <div class="select-menu-modal-holder js-menu-content js-navigation-container" data-pjax aria-hidden="true">

    <div class="select-menu-modal">
      <div class="select-menu-header">
        <span class="select-menu-title">Switch branches/tags</span>
        <span class="octicon octicon-x js-menu-close" role="button" aria-label="Close"></span>
      </div>

      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" aria-label="Filter branches/tags" id="context-commitish-filter-field" class="js-filterable-field js-navigation-enable" placeholder="Filter branches/tags">
        </div>
        <div class="select-menu-tabs">
          <ul>
            <li class="select-menu-tab">
              <a href="#" data-tab-filter="branches" data-filter-placeholder="Filter branches/tags" class="js-select-menu-tab">Branches</a>
            </li>
            <li class="select-menu-tab">
              <a href="#" data-tab-filter="tags" data-filter-placeholder="Find a tag…" class="js-select-menu-tab">Tags</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="branches">

        <div data-filterable-for="context-commitish-filter-field" data-filterable-type="substring">


            <a class="select-menu-item js-navigation-item js-navigation-open "
               href="/chef-cookbooks/mysql/blob/chefspec-4.2.0/templates/default/my.cnf.erb"
               data-name="chefspec-4.2.0"
               data-skip-pjax="true"
               rel="nofollow">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <span class="select-menu-item-text css-truncate-target" title="chefspec-4.2.0">
                chefspec-4.2.0
              </span>
            </a>
            <a class="select-menu-item js-navigation-item js-navigation-open selected"
               href="/chef-cookbooks/mysql/blob/master/templates/default/my.cnf.erb"
               data-name="master"
               data-skip-pjax="true"
               rel="nofollow">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <span class="select-menu-item-text css-truncate-target" title="master">
                master
              </span>
            </a>
            <a class="select-menu-item js-navigation-item js-navigation-open "
               href="/chef-cookbooks/mysql/blob/phantom/templates/default/my.cnf.erb"
               data-name="phantom"
               data-skip-pjax="true"
               rel="nofollow">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <span class="select-menu-item-text css-truncate-target" title="phantom">
                phantom
              </span>
            </a>
            <a class="select-menu-item js-navigation-item js-navigation-open "
               href="/chef-cookbooks/mysql/blob/windows/templates/default/my.cnf.erb"
               data-name="windows"
               data-skip-pjax="true"
               rel="nofollow">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <span class="select-menu-item-text css-truncate-target" title="windows">
                windows
              </span>
            </a>
        </div>

          <div class="select-menu-no-results">Nothing to show</div>
      </div>

      <div class="select-menu-list select-menu-tab-bucket js-select-menu-tab-bucket" data-tab-filter="tags">
        <div data-filterable-for="context-commitish-filter-field" data-filterable-type="substring">


            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.20/templates/default/my.cnf.erb"
                 data-name="v6.0.20"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.20">v6.0.20</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.19/templates/default/my.cnf.erb"
                 data-name="v6.0.19"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.19">v6.0.19</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.18/templates/default/my.cnf.erb"
                 data-name="v6.0.18"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.18">v6.0.18</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.17/templates/default/my.cnf.erb"
                 data-name="v6.0.17"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.17">v6.0.17</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.16/templates/default/my.cnf.erb"
                 data-name="v6.0.16"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.16">v6.0.16</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.15/templates/default/my.cnf.erb"
                 data-name="v6.0.15"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.15">v6.0.15</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.14/templates/default/my.cnf.erb"
                 data-name="v6.0.14"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.14">v6.0.14</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.13/templates/default/my.cnf.erb"
                 data-name="v6.0.13"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.13">v6.0.13</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.12/templates/default/my.cnf.erb"
                 data-name="v6.0.12"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.12">v6.0.12</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.11/templates/default/my.cnf.erb"
                 data-name="v6.0.11"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.11">v6.0.11</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.10/templates/default/my.cnf.erb"
                 data-name="v6.0.10"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.10">v6.0.10</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.9/templates/default/my.cnf.erb"
                 data-name="v6.0.9"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.9">v6.0.9</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.8/templates/default/my.cnf.erb"
                 data-name="v6.0.8"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.8">v6.0.8</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.7/templates/default/my.cnf.erb"
                 data-name="v6.0.7"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.7">v6.0.7</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.6/templates/default/my.cnf.erb"
                 data-name="v6.0.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.6">v6.0.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.5/templates/default/my.cnf.erb"
                 data-name="v6.0.5"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.5">v6.0.5</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.4/templates/default/my.cnf.erb"
                 data-name="v6.0.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.4">v6.0.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.3/templates/default/my.cnf.erb"
                 data-name="v6.0.3"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.3">v6.0.3</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.2/templates/default/my.cnf.erb"
                 data-name="v6.0.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.2">v6.0.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.1/templates/default/my.cnf.erb"
                 data-name="v6.0.1"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.1">v6.0.1</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v6.0.0/templates/default/my.cnf.erb"
                 data-name="v6.0.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v6.0.0">v6.0.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.6.1/templates/default/my.cnf.erb"
                 data-name="v5.6.1"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.6.1">v5.6.1</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.6.0/templates/default/my.cnf.erb"
                 data-name="v5.6.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.6.0">v5.6.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.5.4/templates/default/my.cnf.erb"
                 data-name="v5.5.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.5.4">v5.5.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.5.3/templates/default/my.cnf.erb"
                 data-name="v5.5.3"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.5.3">v5.5.3</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.5.2/templates/default/my.cnf.erb"
                 data-name="v5.5.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.5.2">v5.5.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.5.1/templates/default/my.cnf.erb"
                 data-name="v5.5.1"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.5.1">v5.5.1</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.5.0/templates/default/my.cnf.erb"
                 data-name="v5.5.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.5.0">v5.5.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.4.4/templates/default/my.cnf.erb"
                 data-name="v5.4.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.4.4">v5.4.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.4.3/templates/default/my.cnf.erb"
                 data-name="v5.4.3"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.4.3">v5.4.3</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.4.2/templates/default/my.cnf.erb"
                 data-name="v5.4.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.4.2">v5.4.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.4.1/templates/default/my.cnf.erb"
                 data-name="v5.4.1"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.4.1">v5.4.1</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.4.0/templates/default/my.cnf.erb"
                 data-name="v5.4.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.4.0">v5.4.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.3.6/templates/default/my.cnf.erb"
                 data-name="v5.3.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.3.6">v5.3.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.3.4/templates/default/my.cnf.erb"
                 data-name="v5.3.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.3.4">v5.3.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.3.2/templates/default/my.cnf.erb"
                 data-name="v5.3.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.3.2">v5.3.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.3.0/templates/default/my.cnf.erb"
                 data-name="v5.3.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.3.0">v5.3.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.12/templates/default/my.cnf.erb"
                 data-name="v5.2.12"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.12">v5.2.12</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.10/templates/default/my.cnf.erb"
                 data-name="v5.2.10"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.10">v5.2.10</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.8/templates/default/my.cnf.erb"
                 data-name="v5.2.8"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.8">v5.2.8</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.6/templates/default/my.cnf.erb"
                 data-name="v5.2.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.6">v5.2.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.4/templates/default/my.cnf.erb"
                 data-name="v5.2.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.4">v5.2.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.2/templates/default/my.cnf.erb"
                 data-name="v5.2.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.2">v5.2.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.2.0/templates/default/my.cnf.erb"
                 data-name="v5.2.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.2.0">v5.2.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.12/templates/default/my.cnf.erb"
                 data-name="v5.1.12"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.12">v5.1.12</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.10/templates/default/my.cnf.erb"
                 data-name="v5.1.10"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.10">v5.1.10</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.8/templates/default/my.cnf.erb"
                 data-name="v5.1.8"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.8">v5.1.8</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.6/templates/default/my.cnf.erb"
                 data-name="v5.1.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.6">v5.1.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.4/templates/default/my.cnf.erb"
                 data-name="v5.1.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.4">v5.1.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.2/templates/default/my.cnf.erb"
                 data-name="v5.1.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.2">v5.1.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.1.0/templates/default/my.cnf.erb"
                 data-name="v5.1.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.1.0">v5.1.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.0.6/templates/default/my.cnf.erb"
                 data-name="v5.0.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.0.6">v5.0.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.0.4/templates/default/my.cnf.erb"
                 data-name="v5.0.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.0.4">v5.0.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.0.2/templates/default/my.cnf.erb"
                 data-name="v5.0.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.0.2">v5.0.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v5.0.0/templates/default/my.cnf.erb"
                 data-name="v5.0.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v5.0.0">v5.0.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.1.2/templates/default/my.cnf.erb"
                 data-name="v4.1.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.1.2">v4.1.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.1.1/templates/default/my.cnf.erb"
                 data-name="v4.1.1"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.1.1">v4.1.1</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.1.0/templates/default/my.cnf.erb"
                 data-name="v4.1.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.1.0">v4.1.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.20/templates/default/my.cnf.erb"
                 data-name="v4.0.20"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.20">v4.0.20</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.18/templates/default/my.cnf.erb"
                 data-name="v4.0.18"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.18">v4.0.18</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.14/templates/default/my.cnf.erb"
                 data-name="v4.0.14"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.14">v4.0.14</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.12/templates/default/my.cnf.erb"
                 data-name="v4.0.12"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.12">v4.0.12</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.10/templates/default/my.cnf.erb"
                 data-name="v4.0.10"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.10">v4.0.10</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.8/templates/default/my.cnf.erb"
                 data-name="v4.0.8"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.8">v4.0.8</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.6/templates/default/my.cnf.erb"
                 data-name="v4.0.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.6">v4.0.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.4/templates/default/my.cnf.erb"
                 data-name="v4.0.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.4">v4.0.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.2/templates/default/my.cnf.erb"
                 data-name="v4.0.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.2">v4.0.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v4.0.0/templates/default/my.cnf.erb"
                 data-name="v4.0.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v4.0.0">v4.0.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v3.0.12/templates/default/my.cnf.erb"
                 data-name="v3.0.12"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v3.0.12">v3.0.12</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v3.0.10/templates/default/my.cnf.erb"
                 data-name="v3.0.10"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v3.0.10">v3.0.10</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v3.0.8/templates/default/my.cnf.erb"
                 data-name="v3.0.8"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v3.0.8">v3.0.8</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v3.0.6/templates/default/my.cnf.erb"
                 data-name="v3.0.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v3.0.6">v3.0.6</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/v3.0.4/templates/default/my.cnf.erb"
                 data-name="v3.0.4"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="v3.0.4">v3.0.4</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/3.0.2/templates/default/my.cnf.erb"
                 data-name="3.0.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="3.0.2">3.0.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/3.0.0/templates/default/my.cnf.erb"
                 data-name="3.0.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="3.0.0">3.0.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/2.1.2/templates/default/my.cnf.erb"
                 data-name="2.1.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="2.1.2">2.1.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/2.1.0/templates/default/my.cnf.erb"
                 data-name="2.1.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="2.1.0">2.1.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/2.0.2/templates/default/my.cnf.erb"
                 data-name="2.0.2"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="2.0.2">2.0.2</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/2.0.0/templates/default/my.cnf.erb"
                 data-name="2.0.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="2.0.0">2.0.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/1.3.0/templates/default/my.cnf.erb"
                 data-name="1.3.0"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="1.3.0">1.3.0</a>
            </div>
            <div class="select-menu-item js-navigation-item ">
              <span class="select-menu-item-icon octicon octicon-check"></span>
              <a href="/chef-cookbooks/mysql/tree/1.2.6/templates/default/my.cnf.erb"
                 data-name="1.2.6"
                 data-skip-pjax="true"
                 rel="nofollow"
                 class="js-navigation-open select-menu-item-text css-truncate-target"
                 title="1.2.6">1.2.6</a>
            </div>
        </div>

        <div class="select-menu-no-results">Nothing to show</div>
      </div>

    </div>
  </div>
</div>

  <div class="btn-group right">
    <a href="/chef-cookbooks/mysql/find/master"
          class="js-show-file-finder btn btn-sm empty-icon tooltipped tooltipped-s"
          data-pjax
          data-hotkey="t"
          aria-label="Quickly jump between files">
      <span class="octicon octicon-list-unordered"></span>
    </a>
    <button aria-label="Copy file path to clipboard" class="js-zeroclipboard btn btn-sm zeroclipboard-button" data-copied-hint="Copied!" type="button"><span class="octicon octicon-clippy"></span></button>
  </div>

  <div class="breadcrumb js-zeroclipboard-target">
    <span class='repo-root js-repo-root'><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/chef-cookbooks/mysql" class="" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">mysql</span></a></span></span><span class="separator">/</span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/chef-cookbooks/mysql/tree/master/templates" class="" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">templates</span></a></span><span class="separator">/</span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/chef-cookbooks/mysql/tree/master/templates/default" class="" data-branch="master" data-direction="back" data-pjax="true" itemscope="url"><span itemprop="title">default</span></a></span><span class="separator">/</span><strong class="final-path">my.cnf.erb</strong>
  </div>
</div>


  <div class="commit file-history-tease">
    <div class="file-history-tease-header">
        <img alt="Sean OMeara" class="avatar" data-user="69068" height="24" src="https://avatars1.githubusercontent.com/u/69068?v=3&amp;s=48" width="24" />
        <span class="author"><a href="/someara" rel="contributor">someara</a></span>
        <time datetime="2015-02-18T20:11:56Z" is="relative-time">Feb 18, 2015</time>
        <div class="commit-title">
            <a href="/chef-cookbooks/mysql/commit/140642abd62fcf852ba1bfa984adadf63917fa10" class="message" data-pjax="true" title="opscode2chef">opscode2chef</a>
        </div>
    </div>

    <div class="participation">
      <p class="quickstat">
        <a href="#blob_contributors_box" rel="facebox">
          <strong>31</strong>
           contributors
        </a>
      </p>
          <a class="avatar-link tooltipped tooltipped-s" aria-label="jtimberman" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=jtimberman"><img alt="Joshua Timberman" class="avatar" data-user="12483" height="20" src="https://avatars2.githubusercontent.com/u/12483?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="slashterix" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=slashterix"><img alt="Steven Barre" class="avatar" data-user="2434512" height="20" src="https://avatars3.githubusercontent.com/u/2434512?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="schisamo" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=schisamo"><img alt="Seth Chisamore" class="avatar" data-user="6164" height="20" src="https://avatars0.githubusercontent.com/u/6164?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="someara" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=someara"><img alt="Sean OMeara" class="avatar" data-user="69068" height="20" src="https://avatars3.githubusercontent.com/u/69068?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="jschneiderhan" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=jschneiderhan"><img alt="Jon-Erik Schneiderhan" class="avatar" data-user="369108" height="20" src="https://avatars0.githubusercontent.com/u/369108?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="ctdk" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=ctdk"><img alt="Jeremy Bingham" class="avatar" data-user="83435" height="20" src="https://avatars0.githubusercontent.com/u/83435?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="sdelano" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=sdelano"><img alt="Stephen Delano" class="avatar" data-user="76847" height="20" src="https://avatars2.githubusercontent.com/u/76847?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="sciurus" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=sciurus"><img alt="Brian Pitts" class="avatar" data-user="677595" height="20" src="https://avatars3.githubusercontent.com/u/677595?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="thoughtcroft" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=thoughtcroft"><img alt="Warren Bain" class="avatar" data-user="1214088" height="20" src="https://avatars2.githubusercontent.com/u/1214088?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="9minutesnooze" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=9minutesnooze"><img alt="Aaron Brown" class="avatar" data-user="469234" height="20" src="https://avatars1.githubusercontent.com/u/469234?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="mattandersen" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=mattandersen"><img alt="Matthew Andersen" class="avatar" data-user="240521" height="20" src="https://avatars1.githubusercontent.com/u/240521?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="luntzel" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=luntzel"><img alt="Mark Luntzel" class="avatar" data-user="457280" height="20" src="https://avatars0.githubusercontent.com/u/457280?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="lamont-granquist" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=lamont-granquist"><img alt="Lamont Granquist" class="avatar" data-user="454857" height="20" src="https://avatars1.githubusercontent.com/u/454857?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="maoueh" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=maoueh"><img alt="Matthieu Vachon" class="avatar" data-user="123014" height="20" src="https://avatars1.githubusercontent.com/u/123014?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="galstrom21" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=galstrom21"><img alt="Justin Shepherd" class="avatar" data-user="142441" height="20" src="https://avatars3.githubusercontent.com/u/142441?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="capoferro" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=capoferro"><img alt="Josiah Kiehl (formerly @bluepojo)" class="avatar" data-user="57349" height="20" src="https://avatars3.githubusercontent.com/u/57349?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="grigarr" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=grigarr"><img alt="Rudy Grigar" class="avatar" data-user="386781" height="20" src="https://avatars2.githubusercontent.com/u/386781?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="arr-dev" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=arr-dev"><img alt="Nenad" class="avatar" data-user="464602" height="20" src="https://avatars2.githubusercontent.com/u/464602?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="sethvargo" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=sethvargo"><img alt="Seth Vargo" class="avatar" data-user="408570" height="20" src="https://avatars1.githubusercontent.com/u/408570?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="daveespo" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=daveespo"><img alt="David Esposito" class="avatar" data-user="233309" height="20" src="https://avatars2.githubusercontent.com/u/233309?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="dje" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=dje"><img alt="Darrin Eden" class="avatar" data-user="3221" height="20" src="https://avatars1.githubusercontent.com/u/3221?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="danielsdeleo" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=danielsdeleo"><img alt="Dan DeLeo" class="avatar" data-user="37162" height="20" src="https://avatars0.githubusercontent.com/u/37162?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="chris-rock" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=chris-rock"><img alt="Christoph Hartmann" class="avatar" data-user="1178413" height="20" src="https://avatars3.githubusercontent.com/u/1178413?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="vishvananda" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=vishvananda"><img alt="Vish Ishaya" class="avatar" data-user="142222" height="20" src="https://avatars3.githubusercontent.com/u/142222?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="andreacampi" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=andreacampi"><img alt="Andrea Campi" class="avatar" data-user="33472" height="20" src="https://avatars2.githubusercontent.com/u/33472?v=3&amp;s=40" width="20" /></a>
    <a class="avatar-link tooltipped tooltipped-s" aria-label="awillis" href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb?author=awillis"><img alt="Alan Willis" class="avatar" data-user="1441310" height="20" src="https://avatars3.githubusercontent.com/u/1441310?v=3&amp;s=40" width="20" /></a>

    <a href="#blob_contributors_box" rel="facebox" class="others-text">and others</a>

    </div>
    <div id="blob_contributors_box" style="display:none">
      <h2 class="facebox-header">Users who have contributed to this file</h2>
      <ul class="facebox-user-list">
          <li class="facebox-user-list-item">
            <img alt="Joshua Timberman" data-user="12483" height="24" src="https://avatars0.githubusercontent.com/u/12483?v=3&amp;s=48" width="24" />
            <a href="/jtimberman">jtimberman</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Steven Barre" data-user="2434512" height="24" src="https://avatars1.githubusercontent.com/u/2434512?v=3&amp;s=48" width="24" />
            <a href="/slashterix">slashterix</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Seth Chisamore" data-user="6164" height="24" src="https://avatars2.githubusercontent.com/u/6164?v=3&amp;s=48" width="24" />
            <a href="/schisamo">schisamo</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Sean OMeara" data-user="69068" height="24" src="https://avatars1.githubusercontent.com/u/69068?v=3&amp;s=48" width="24" />
            <a href="/someara">someara</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Jon-Erik Schneiderhan" data-user="369108" height="24" src="https://avatars2.githubusercontent.com/u/369108?v=3&amp;s=48" width="24" />
            <a href="/jschneiderhan">jschneiderhan</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Jeremy Bingham" data-user="83435" height="24" src="https://avatars2.githubusercontent.com/u/83435?v=3&amp;s=48" width="24" />
            <a href="/ctdk">ctdk</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Stephen Delano" data-user="76847" height="24" src="https://avatars0.githubusercontent.com/u/76847?v=3&amp;s=48" width="24" />
            <a href="/sdelano">sdelano</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Brian Pitts" data-user="677595" height="24" src="https://avatars1.githubusercontent.com/u/677595?v=3&amp;s=48" width="24" />
            <a href="/sciurus">sciurus</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Warren Bain" data-user="1214088" height="24" src="https://avatars0.githubusercontent.com/u/1214088?v=3&amp;s=48" width="24" />
            <a href="/thoughtcroft">thoughtcroft</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Aaron Brown" data-user="469234" height="24" src="https://avatars3.githubusercontent.com/u/469234?v=3&amp;s=48" width="24" />
            <a href="/9minutesnooze">9minutesnooze</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Matthew Andersen" data-user="240521" height="24" src="https://avatars3.githubusercontent.com/u/240521?v=3&amp;s=48" width="24" />
            <a href="/mattandersen">mattandersen</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Mark Luntzel" data-user="457280" height="24" src="https://avatars2.githubusercontent.com/u/457280?v=3&amp;s=48" width="24" />
            <a href="/luntzel">luntzel</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Lamont Granquist" data-user="454857" height="24" src="https://avatars3.githubusercontent.com/u/454857?v=3&amp;s=48" width="24" />
            <a href="/lamont-granquist">lamont-granquist</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Matthieu Vachon" data-user="123014" height="24" src="https://avatars3.githubusercontent.com/u/123014?v=3&amp;s=48" width="24" />
            <a href="/maoueh">maoueh</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Justin Shepherd" data-user="142441" height="24" src="https://avatars1.githubusercontent.com/u/142441?v=3&amp;s=48" width="24" />
            <a href="/galstrom21">galstrom21</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Josiah Kiehl (formerly @bluepojo)" data-user="57349" height="24" src="https://avatars1.githubusercontent.com/u/57349?v=3&amp;s=48" width="24" />
            <a href="/capoferro">capoferro</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Rudy Grigar" data-user="386781" height="24" src="https://avatars0.githubusercontent.com/u/386781?v=3&amp;s=48" width="24" />
            <a href="/grigarr">grigarr</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Nenad" data-user="464602" height="24" src="https://avatars0.githubusercontent.com/u/464602?v=3&amp;s=48" width="24" />
            <a href="/arr-dev">arr-dev</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Seth Vargo" data-user="408570" height="24" src="https://avatars3.githubusercontent.com/u/408570?v=3&amp;s=48" width="24" />
            <a href="/sethvargo">sethvargo</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="David Esposito" data-user="233309" height="24" src="https://avatars0.githubusercontent.com/u/233309?v=3&amp;s=48" width="24" />
            <a href="/daveespo">daveespo</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Darrin Eden" data-user="3221" height="24" src="https://avatars3.githubusercontent.com/u/3221?v=3&amp;s=48" width="24" />
            <a href="/dje">dje</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Dan DeLeo" data-user="37162" height="24" src="https://avatars2.githubusercontent.com/u/37162?v=3&amp;s=48" width="24" />
            <a href="/danielsdeleo">danielsdeleo</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Christoph Hartmann" data-user="1178413" height="24" src="https://avatars1.githubusercontent.com/u/1178413?v=3&amp;s=48" width="24" />
            <a href="/chris-rock">chris-rock</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Vish Ishaya" data-user="142222" height="24" src="https://avatars1.githubusercontent.com/u/142222?v=3&amp;s=48" width="24" />
            <a href="/vishvananda">vishvananda</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Andrea Campi" data-user="33472" height="24" src="https://avatars0.githubusercontent.com/u/33472?v=3&amp;s=48" width="24" />
            <a href="/andreacampi">andreacampi</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Alan Willis" data-user="1441310" height="24" src="https://avatars1.githubusercontent.com/u/1441310?v=3&amp;s=48" width="24" />
            <a href="/awillis">awillis</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Sándor Ács" data-user="8317694" height="24" src="https://avatars2.githubusercontent.com/u/8317694?v=3&amp;s=48" width="24" />
            <a href="/sandoracs">sandoracs</a>
          </li>
          <li class="facebox-user-list-item">
            <img alt="Julien Duponchelle" data-user="345437" height="24" src="https://avatars0.githubusercontent.com/u/345437?v=3&amp;s=48" width="24" />
            <a href="/noplay">noplay</a>
          </li>
      </ul>
    </div>
  </div>

<div class="file">
  <div class="file-header">
    <div class="file-actions">

      <div class="btn-group">
        <a href="/chef-cookbooks/mysql/raw/master/templates/default/my.cnf.erb" class="btn btn-sm " id="raw-url">Raw</a>
          <a href="/chef-cookbooks/mysql/blame/master/templates/default/my.cnf.erb" class="btn btn-sm js-update-url-with-hash">Blame</a>
        <a href="/chef-cookbooks/mysql/commits/master/templates/default/my.cnf.erb" class="btn btn-sm " rel="nofollow">History</a>
      </div>


          <button type="button" class="octicon-btn disabled tooltipped tooltipped-n" aria-label="You must be signed in to make or propose changes">
            <span class="octicon octicon-pencil"></span>
          </button>

        <button type="button" class="octicon-btn octicon-btn-danger disabled tooltipped tooltipped-n" aria-label="You must be signed in to make or propose changes">
          <span class="octicon octicon-trashcan"></span>
        </button>
    </div>

    <div class="file-info">
        55 lines (50 sloc)
        <span class="file-info-divider"></span>
      1.381 kb
    </div>
  </div>
  
  <div class="blob-wrapper data type-html-erb">
      <table class="highlight tab-size-8 js-file-line-container">
      <tr>
        <td id="L1" class="blob-num js-line-number" data-line-number="1"></td>
        <td id="LC1" class="blob-code js-file-line"># Chef generated my.cnf for instance mysql-<span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.name </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L2" class="blob-num js-line-number" data-line-number="2"></td>
        <td id="LC2" class="blob-code js-file-line">
</td>
      </tr>
      <tr>
        <td id="L3" class="blob-num js-line-number" data-line-number="3"></td>
        <td id="LC3" class="blob-code js-file-line">[client]</td>
      </tr>
      <tr>
        <td id="L4" class="blob-num js-line-number" data-line-number="4"></td>
        <td id="LC4" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@config</span>.charset </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L5" class="blob-num js-line-number" data-line-number="5"></td>
        <td id="LC5" class="blob-code js-file-line">default-character-set          = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.charset </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L6" class="blob-num js-line-number" data-line-number="6"></td>
        <td id="LC6" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L7" class="blob-num js-line-number" data-line-number="7"></td>
        <td id="LC7" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@config</span>.port </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L8" class="blob-num js-line-number" data-line-number="8"></td>
        <td id="LC8" class="blob-code js-file-line">port                           = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.port </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L9" class="blob-num js-line-number" data-line-number="9"></td>
        <td id="LC9" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L10" class="blob-num js-line-number" data-line-number="10"></td>
        <td id="LC10" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@socket_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L11" class="blob-num js-line-number" data-line-number="11"></td>
        <td id="LC11" class="blob-code js-file-line">socket                         = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@socket_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L12" class="blob-num js-line-number" data-line-number="12"></td>
        <td id="LC12" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L13" class="blob-num js-line-number" data-line-number="13"></td>
        <td id="LC13" class="blob-code js-file-line">
</td>
      </tr>
      <tr>
        <td id="L14" class="blob-num js-line-number" data-line-number="14"></td>
        <td id="LC14" class="blob-code js-file-line">[mysql]</td>
      </tr>
      <tr>
        <td id="L15" class="blob-num js-line-number" data-line-number="15"></td>
        <td id="LC15" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@config</span>.charset </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L16" class="blob-num js-line-number" data-line-number="16"></td>
        <td id="LC16" class="blob-code js-file-line">default-character-set          = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.charset </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L17" class="blob-num js-line-number" data-line-number="17"></td>
        <td id="LC17" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L18" class="blob-num js-line-number" data-line-number="18"></td>
        <td id="LC18" class="blob-code js-file-line">
</td>
      </tr>
      <tr>
        <td id="L19" class="blob-num js-line-number" data-line-number="19"></td>
        <td id="LC19" class="blob-code js-file-line">[mysqld]</td>
      </tr>
      <tr>
        <td id="L20" class="blob-num js-line-number" data-line-number="20"></td>
        <td id="LC20" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@config</span>.run_user </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L21" class="blob-num js-line-number" data-line-number="21"></td>
        <td id="LC21" class="blob-code js-file-line">user                           = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.run_user </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L22" class="blob-num js-line-number" data-line-number="22"></td>
        <td id="LC22" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L23" class="blob-num js-line-number" data-line-number="23"></td>
        <td id="LC23" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@pid_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L24" class="blob-num js-line-number" data-line-number="24"></td>
        <td id="LC24" class="blob-code js-file-line">pid-file                       = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@pid_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L25" class="blob-num js-line-number" data-line-number="25"></td>
        <td id="LC25" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L26" class="blob-num js-line-number" data-line-number="26"></td>
        <td id="LC26" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@socket_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L27" class="blob-num js-line-number" data-line-number="27"></td>
        <td id="LC27" class="blob-code js-file-line">socket                         = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@socket_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L28" class="blob-num js-line-number" data-line-number="28"></td>
        <td id="LC28" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L29" class="blob-num js-line-number" data-line-number="29"></td>
        <td id="LC29" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@config</span>.bind_address </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L30" class="blob-num js-line-number" data-line-number="30"></td>
        <td id="LC30" class="blob-code js-file-line">bind-address                   = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.bind_address </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L31" class="blob-num js-line-number" data-line-number="31"></td>
        <td id="LC31" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L32" class="blob-num js-line-number" data-line-number="32"></td>
        <td id="LC32" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@config</span>.port </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L33" class="blob-num js-line-number" data-line-number="33"></td>
        <td id="LC33" class="blob-code js-file-line">port                           = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@config</span>.port </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L34" class="blob-num js-line-number" data-line-number="34"></td>
        <td id="LC34" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L35" class="blob-num js-line-number" data-line-number="35"></td>
        <td id="LC35" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@data_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L36" class="blob-num js-line-number" data-line-number="36"></td>
        <td id="LC36" class="blob-code js-file-line">datadir                        = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@data_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L37" class="blob-num js-line-number" data-line-number="37"></td>
        <td id="LC37" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L38" class="blob-num js-line-number" data-line-number="38"></td>
        <td id="LC38" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@tmp_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L39" class="blob-num js-line-number" data-line-number="39"></td>
        <td id="LC39" class="blob-code js-file-line">tmpdir                         = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@tmp_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L40" class="blob-num js-line-number" data-line-number="40"></td>
        <td id="LC40" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L41" class="blob-num js-line-number" data-line-number="41"></td>
        <td id="LC41" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@lc_messages_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L42" class="blob-num js-line-number" data-line-number="42"></td>
        <td id="LC42" class="blob-code js-file-line">lc-messages-dir                = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@lc_messages_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L43" class="blob-num js-line-number" data-line-number="43"></td>
        <td id="LC43" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L44" class="blob-num js-line-number" data-line-number="44"></td>
        <td id="LC44" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@error_log</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L45" class="blob-num js-line-number" data-line-number="45"></td>
        <td id="LC45" class="blob-code js-file-line">log-error                      = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@error_log</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L46" class="blob-num js-line-number" data-line-number="46"></td>
        <td id="LC46" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L47" class="blob-num js-line-number" data-line-number="47"></td>
        <td id="LC47" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@include_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L48" class="blob-num js-line-number" data-line-number="48"></td>
        <td id="LC48" class="blob-code js-file-line">!includedir <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@include_dir</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L49" class="blob-num js-line-number" data-line-number="49"></td>
        <td id="LC49" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L50" class="blob-num js-line-number" data-line-number="50"></td>
        <td id="LC50" class="blob-code js-file-line">
</td>
      </tr>
      <tr>
        <td id="L51" class="blob-num js-line-number" data-line-number="51"></td>
        <td id="LC51" class="blob-code js-file-line">[mysqld_safe]</td>
      </tr>
      <tr>
        <td id="L52" class="blob-num js-line-number" data-line-number="52"></td>
        <td id="LC52" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">if</span> <span class="pl-smi">@socket_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L53" class="blob-num js-line-number" data-line-number="53"></td>
        <td id="LC53" class="blob-code js-file-line">socket                         = <span class="pl-pse">&lt;%=</span><span class="pl-s1"> <span class="pl-smi">@socket_file</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
      <tr>
        <td id="L54" class="blob-num js-line-number" data-line-number="54"></td>
        <td id="LC54" class="blob-code js-file-line"><span class="pl-pse">&lt;%</span><span class="pl-s1"> <span class="pl-k">end</span> </span><span class="pl-pse"><span class="pl-s1">%</span>&gt;</span></td>
      </tr>
</table>

  </div>

</div>

<a href="#jump-to-line" rel="facebox[.linejump]" data-hotkey="l" style="display:none">Jump to Line</a>
<div id="jump-to-line" style="display:none">
  <form accept-charset="UTF-8" action="" class="js-jump-to-line-form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
    <input class="linejump-input js-jump-to-line-field" type="text" placeholder="Jump to line&hellip;" autofocus>
    <button type="submit" class="btn">Go</button>
</form></div>

        </div>

      </div><!-- /.repo-container -->
      <div class="modal-backdrop"></div>
    </div><!-- /.container -->
  </div><!-- /.site -->


    </div><!-- /.wrapper -->

      <div class="container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links right">
        <li><a href="https://status.github.com/" data-ga-click="Footer, go to status, text:status">Status</a></li>
      <li><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a></li>
      <li><a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>
      <li><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a></li>
        <li><a href="https://github.com/blog" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
        <li><a href="https://github.com/about" data-ga-click="Footer, go to about, text:about">About</a></li>

    </ul>

    <a href="https://github.com" aria-label="Homepage">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
</a>
    <ul class="site-footer-links">
      <li>&copy; 2015 <span title="0.03266s from github-fe142-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
        <li><a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
        <li><a href="https://github.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
        <li><a href="https://github.com/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
        <li><a href="https://github.com/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
    </ul>
  </div>
</div>


    <div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
  <div class="fullscreen-container js-suggester-container">
    <div class="textarea-wrap">
      <textarea name="fullscreen-contents" id="fullscreen-contents" class="fullscreen-contents js-fullscreen-contents" placeholder=""></textarea>
      <div class="suggester-container">
        <div class="suggester fullscreen-suggester js-suggester js-navigation-container"></div>
      </div>
    </div>
  </div>
  <div class="fullscreen-sidebar">
    <a href="#" class="exit-fullscreen js-exit-fullscreen tooltipped tooltipped-w" aria-label="Exit Zen Mode">
      <span class="mega-octicon octicon-screen-normal"></span>
    </a>
    <a href="#" class="theme-switcher js-theme-switcher tooltipped tooltipped-w"
      aria-label="Switch themes">
      <span class="octicon octicon-color-mode"></span>
    </a>
  </div>
</div>



    
    

    <div id="ajax-error-message" class="flash flash-error">
      <span class="octicon octicon-alert"></span>
      <a href="#" class="octicon octicon-x flash-close js-ajax-error-dismiss" aria-label="Dismiss error"></a>
      Something went wrong with that request. Please try again.
    </div>


      <script crossorigin="anonymous" src="https://assets-cdn.github.com/assets/frameworks-d22b59d0085e83b7549ba4341ec9e68f80c2f29c8e49213ee182003dc8d568c6.js"></script>
      <script async="async" crossorigin="anonymous" src="https://assets-cdn.github.com/assets/github-2c46bf7af744168851951e2fa4f404675a09c3d3f5b8ec92e4d28c3238de7936.js"></script>
      
      

  </body>
</html>

