.navbar-default {
  background-color: #3c67a2;
  border-color: #fff;
}
.navbar-default .navbar-brand {
  color: #000;.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
  }

}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-text {
  color: #D04591;
}
.navbar-default .navbar-nav > li > a {
  color: #cff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.wikipagecountsbanner {
  position: relative;
  width: 100%;
  font-size: 80%;
  top: 20px;
  /* Set the fixed height of the footer here */
  height: 340px;
  background-color: #19193b;
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #aaa4b7;/*#565574;*/
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eaeaaa;
}

li {list-style-type: none;}
